.p-password-panel {
    padding: $inputContentPanelPadding;
    background-color: $inputContentPanelBgColor;
    color: $inputContentPanelTextColor;
    border: $inputOverlayBorder;
    @include shadow($inputOverlayShadow);
}
