/* copied from patternfly 3.59.1 "dist/css/patternfly.css" */

.message-dialog-pf .modal-body {
  display: -ms-flexbox;
  display: flex;
}
.message-dialog-pf .modal-body .fa,
.message-dialog-pf .modal-body .fas,
.message-dialog-pf .modal-body .far,
.message-dialog-pf .modal-body .fab,
.message-dialog-pf .modal-body .fal,
.message-dialog-pf .modal-body .pficon {
  font-size: 30px;
  margin-right: 15px;
}
