VITE_APP_TYPE="ovirt" # alternative "openstack"
VITE_API_BROWSER_URL="http://localhost:3000/api"
VITE_DEVELOPMENT_API_TARGET=http://10.20.30.40
VITE_API_DISABLE_SSL="true"
VITE_API_USER="admin"
VITE_API_PASSWORD="vPr0tect"