# Dependencies managed by npm
node_modules/

# Distributable files
dist/

# Additional build artifacts
extra/
packaging/ovirt-engine-ui-extensions.spec
packaging/ovirt-engine-ui-extensions*.tar.gz
stats.json

# Yarn log files
yarn-error.log

# IDE files
.idea/
.vscode/
*.iml

# Zanata temporary files
.zanata-cache/

# mock_runner
.bash_history
.node-gyp/
exported-artifacts/
rpmbuild/
mocker-*.cfg
