label, input {
    display: block;
}

.modal-footer button {
    padding: 0 5px;
    margin: 0 5px;
}

.vprotectContainer {
    padding-top: 20px;
}

.p-dropdown, .p-inputtext {
    width: 100%;
}

.invisible {
    visibility: hidden;
}

.center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.justify-content-between {
    justify-content: space-between;
}
