label, input {
    display: block;
}

.modal-footer button {
    padding: 0 5px;
    margin: 0 5px;
}

.padding-top-20px {
    padding-top: 20px;
}

.padding-top-bottom-10px {
    padding: 10px 0;
}

.p-dropdown, .p-inputtext {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-self-center {
    align-self: center;
}

.pie-chart-with-title-container {
    min-height: 237px;
}

.color-black {
    color: #333 ;
}

.w-100 {
    width: 100%;
}

.dashboardContainer .list-group-item {
    margin-right: -2px;
}

.dashboardContainer .card-pf-heading {
    margin: 0 0 -1px;
}

.dashboardContainer .list-view-pf-view {
    margin-top: 0;
}

.dashboardContainer .list-view-pf-expand {
    margin-top: 14px;
    margin-bottom: 14px;
}
