.p-picklist {
    .p-picklist-buttons {
        button {
            font-size: $fontSize + 2;
        }
    }

    .p-picklist-caption {
        background-color: $panelHeaderBgColor;
        color: $panelHeaderTextColor;
        border: $panelHeaderBorder;
        padding: $panelHeaderPadding;
        font-weight: $panelHeaderFontWeight;
        border-bottom: 0 none;
        @include border-radius-top($borderRadius);
    }

    .p-picklist-filter-container {
        padding: $inputListHeaderPaddingTop $inputListHeaderPaddingRight $inputListHeaderPaddingBottom $inputListHeaderPaddingLeft;
        border: $panelHeaderBorder;
        color: $inputListHeaderTextColor;
        background-color: $inputListHeaderBgColor;
        margin: $inputListHeaderMargin;
        border-bottom: 0 none;

        input {
            width: 100%;
            padding-right: 2em;
            text-indent: 0;
        }

        .p-picklist-filter-icon {
            top: 50%;
            margin-top: -.5em;
            left: auto;
            right: $inputListHeaderPaddingRight + .5em;
            color: $inputListHeaderSearchIconColor;
        }
    }

    .p-picklist-buttons {
        padding: $panelContentPadding;
    }

    .p-picklist-list {
        border: $panelContentBorder;
        background-color: $panelContentBgColor;
        color: $panelContentTextColor;
        padding: $inputListPadding;
        @include border-radius-bottom($borderRadius);

        .p-picklist-item {
            padding: $inputListItemPadding;
            margin: $inputListItemMargin;
            border: $inputListItemBorder;
            color: $inputListItemTextColor;
            background-color: $inputListItemBgColor;
            @include transition($inputListItemTransition);

            &:not(.p-highlight):hover {
                background-color: $inputListItemHoverBgColor;
                color: $inputListItemHoverTextColor;
            }

            &:focus {
                @include focused-listitem();
            }

            &.p-highlight {
                background-color: $inputListItemHighlightBgColor;
                color: $inputListItemHighlightTextColor;
            }
        }

        .p-picklist-droppoint-highlight {
            background-color: $highlightBgColor;
        }
    }
}

@media (max-width: 40em) {
    .p-picklist.p-picklist-responsive {
        .p-picklist-buttons {
            padding: $panelContentPadding;
        }
    }
}
