.form {
  .p-dropdown, .p-inputtext {
    width: 100%;
  }

  .p-listbox {
    max-height: 500px;
    overflow: auto;
  }
}


.p-disabled-clickable {
  cursor: pointer !important;

  &, & > * {
    pointer-events: unset;
    user-select: unset;
  }
}

.blocked-content {
  pointer-events: none;
  opacity: 0.5;
}