.text-jumbotron {
    color: #666666;
    text-align: center;
    position: absolute;
}
.doughnut-center-text {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
