td {
  text-align: center;
  overflow-wrap: break-word;
}

.form .p-datatable .p-dropdown,
.p-inputtext {
  width: auto;
}

table .actions {
  width: 70px;
}

table .p-row-tooltip [data-pr-tooltip] {
  pointer-events: all;
}

table .p-muted {
  opacity: 0.38;
}


.c-table .p-paginator .p-inputtext {
  padding: 0.75rem 0 0.75rem 0.75rem;
}

.c-table .p-component, .p-datatable-scrollable {
  font-size: 13px;
}

.p-datatable{
  & .p-button, & .p-inputtext{ font-size: 13px; }
}

.text-capitalize-from-uppercase {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

.column-cut-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
