td {
  text-align: center;
  overflow-wrap: break-word;

  padding: 0.2rem 1rem !important;
}

.form .p-datatable .p-dropdown,
.p-inputtext {
  width: auto;
}

table .actions {
  width: 70px;
}

table .p-row-tooltip [data-pr-tooltip] {
  pointer-events: all;
}

table .p-muted {
  opacity: 0.38;
}


.c-table .p-paginator .p-inputtext {
  padding: 0.75rem 0 0.75rem 0.75rem;
}

.text-capitalize-from-uppercase {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

%text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}

.column-cut-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @extend %text-ellipsis
}
.reporting-summary-table-body {
  width: 75%;
  tr {
    border-top: 1px solid #0002;
  }
  td {
    padding: .8rem 1rem !important;
    font-size: 1rem;
  }
  &+& {
    margin-top: 140px;
  }
}

.progress-bar-element {
  height: 15px;
  min-width: 75px;

  .p-progressbar-label {
    display: block;
    line-height: 15px;
  }
}
