td {
  text-align: center;
  overflow-wrap: break-word;

  padding: 0.2rem 1rem !important;
}

.form .p-datatable .p-dropdown,
.p-inputtext {
  width: auto;
}

table .actions {
  width: 70px;
}

table .p-row-tooltip [data-pr-tooltip] {
  pointer-events: all;
}


.c-table .p-paginator .p-inputtext {
  padding: 0.75rem 0 0.75rem 0.75rem;
}

.text-capitalize-from-uppercase {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

%text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}

.column-cut-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @extend %text-ellipsis
}
