@import "form";
@import "table";
@import "modal";
@import "loading-overlay";
@import "filesystem-table";
@import "protection-doughnut";

label, input {
  display: block;
}

.modal-footer button {
  padding: 0 5px;
  margin: 0 5px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-top-bottom-10px {
  padding: 10px 0;
}

.pie-chart-with-title-container {
  min-height: 237px;
}

.w-100 {
  width: 100% !important;
}

.color-black {
  color: #333;
}

.dashboardContainer .list-group-item {
  margin-right: -2px;
}

.dashboardContainer .card-pf-heading {
  margin: 0 0 -1px;
}

.background-gray {
  background: #f5f5f5 !important;
}

.background-white {
  background: #fff !important;
}

.width-850px .modal-dialog {
  width: 850px;
}

.container-fluid .breadcrumb {
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.slider-demo .p-slider-horizontal, .slider-demo .p-inputtext {
  width: 14rem;
}

.slider-demo .p-slider-vertical {
  height: 14rem;
}

body {
  font-family: "Open Sans", "myHelvetica Neue", sans-serif;
  color: #333333;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.p-splitter.disabled {
  .p-splitter-gutter {
    pointer-events: none;
  }

  .p-splitter-gutter-handle {
    display: none;
  }
}


.border-box {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
}

.pf-c-progress__bar::before {
  background-color: var(--pf-c-progress__bar--before--BackgroundColor);
  opacity: var(--pf-c-progress__bar--before--Opacity);

}

.pf-c-progress__indicator {
  background-color: var(--pf-c-progress__indicator--BackgroundColor);
}